
body {
	background-color: #eee;
}

header,
main,
footer {
	margin: 1.875rem 0 0;
}

h1 {
	color: green;
	text-align: center;
}

p {
	text-align: center;
}

label {
	margin: 0.25rem 0 0.25rem;
	font-weight: bold;
}

.error {
	color: red;
	font-size: 0.875rem;
}

footer p {
	font-size: 0.75rem;	
}